<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Periodo</title>
    <meta name="viewport" content="width=device-width"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
            <!--<form class="form-inline" method="post" th:object="${periodo}" th:action="@{/periodos}" style="margin: 20px 0">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form">-->
                <!--</div>-->
            <!--</form>-->
            <h1 class="panel-title">Periodos</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Nome do dia na semana</th>
                    <th>Temperatura mínima</th>
                    <th>Temperatura máxima</th>
                    <th>humidade relativa do ar</th>
                    <th>Resumo</th>
                    <th>Latetude</th>
                    <th>Longetude</th>
                    <th>Horario</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="periodo : ${periodos}">
                    <td th:text="${periodo.diaDaSemana.getDia()}"></td>
                    <td th:text="${periodo.temperaturaMin}"></td>
                    <td th:text="${periodo.temperaturaMax}"></td>
                    <td th:text="${periodo.humidade}"></td>
                    <td th:text="${periodo.discricao}"></td>
                    <td th:text="${periodo.latetude}"></td>
                    <td th:text="${periodo.longetude}"></td>
                    <td th:text="${periodo.dataHora}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>